{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-inscription.css') }}">
{% endblock %}

{% block body %}
    <h1 class="logo">Inscription</h1>

    <div class="form-container">
        {{ form_start(registrationForm) }}

        <h3>Remplissez le formulaire ci-dessous :</h3>

        <!-- Alignement des champs en colonne -->
        <div class="form-group">
            {{ form_row(registrationForm.campus) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.pseudo) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.nom) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.prenom) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.telephone) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.mail) }}
        </div>

        <div class="form-group">
            {{ form_row(registrationForm.plainPassword) }}
        </div>

        <!-- Cases à cocher -->
        <div class="checkbox-group">
            {{ form_row(registrationForm.actif) }}
            {{ form_row(registrationForm.administrateur) }}
        </div>

        <!-- Bouton de soumission -->
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
