{#marie laure#}
{%  extends 'base.html.twig' %}


{% block body %}

    <h2>{{ app.user.pseudo }}</h2>

    <div>
        Prénom : {{ app.user.prenom }}<br>
        Nom : {{ app.user.nom }}<br>
        Téléphone : {{ app.user.telephone }}<br>
        Email : {{ app.user.mail }}<br>
        Campus : {{ app.user.campus.nom }}

    </div>

    <a href="{{ path('app_modifprofil') }}" class="btn">Modification</a>


{% endblock %}

{% block title %}
    Votre profil
{% endblock %}