{# templates/profil/modification_profil.html.twig #}

{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    profile
    <h1>Modifier le profil</h1>
    {% if participant.imageName %}
        <img src="{{ asset('uploads/images/' ~ participant.imageName) }}" alt="Image de profil">
    {% endif %}
    {{ form_start(modifForm) }}

    {{ form_row(modifForm.pseudo) }}
    {{ form_row(modifForm.nom) }}
    {{ form_row(modifForm.prenom) }}
    {{ form_row(modifForm.telephone) }}
    {{ form_row(modifForm.mail) }}
    {{ form_row(modifForm.campus) }} {# Afficher le champ campus au-dessus du bouton #}
    <div>Dimension de l'image  : 300px/300px</div>
    <div>Format : PNG, JPEG, WEBP</div>
    {{ form_row(modifForm.imageFile) }}
    {# Affichage des champs de mot de passe (le champ RepeatedType génère deux champs automatiquement) #}
    {{ form_errors(modifForm.plainPassword) }} {# Afficher les erreurs du champ de mot de passe #}
    {{ form_row(modifForm.plainPassword.first) }}
    {{ form_row(modifForm.plainPassword.second) }}

    <button type="submit" class="btn">Enregistrer</button>

    {{ form_end(modifForm) }}

    {# Affichage des messages flash #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
