{#marie laure#}
{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="container">Afficher une sortie</h2>

    <div class="d-flex">
        <div>
            Nom de la sortie : {{ sortie.nom }}
            Date et heure de la sortie : {{ sortie.dateHeureDebut }}
            Date limite d'inscription : {{ sortie.dateLimiteInscription }}
            Nombre de places : {{ sortie.nbInscriptionsMax }}
            Durée : {{ sortie.duree }} minutes
            Description et infos : {{ sortie.infosSortie }}
        </div>
        <div>
            Campus : {{ sortie.campus }}
            Lieu : {{ sortie.lieu }}
            Rue :
            Code postal :
            Latitude :
            Longitude :
        </div>
    </div>
    <div>
        <h3>Liste des participants inscrits :</h3>
        <table>
            <thead>
            <tr>Pseudo</tr>
            <tr>Nom</tr>
            </thead>
            <tbody>
            <tr>
                {% for inscrit in inscrits %}
                    <td>{{ Participant.pseudo }}</td>
                    <td>{{ Participant.prenom ~ ' ' ~ Participant.nom }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>



    </div>
{% endblock %}

{% block title %}
{% endblock %}