<div>
<h1 class="logo">Logo Sortir.com</h1>

<nav class="header-nav">
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('villes_index') }}" title="Villes">Villes</a>
        <a href="{{ path('app_campus') }}" title="Campus">Campus</a>
            <a href="{{ path('app_register') }}" title="AjoutUtilisateur">Ajouter Utilisateur</a>

        {% endif %}
    <a href="{{ path('app_sorties') }}" title="About us">Accueil</a>
        <a href="{{ path('app_profil') }}" title="MonProfil">Mon profil</a>
        <a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a> {{ app.user.pseudo }}
    {% endif %}
</nav>
</div>
